USE [HIS_WEB]
GO
/****** Object:  StoredProcedure [dbo].[ProductividadAUO91]    Script Date: 25/09/2025 11:25:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProductividadAUO91]  @FECHA_INICIO AS DATETIME = NULL, @FECHA_FINAL AS DATETIME = NULL, 
@USUARIO_AGENDO AS VARCHAR(255) = NULL
AS
SELECT
	ROW_NUMBER() OVER(ORDER BY(P.FOLIO)) AS CONSECUTIVO,
	CONCAT(P.ApellidoPaterno,' ',P.ApellidoMaterno,' ',P.PrimerNombre,' ',P.SegundoNombre) AS PACIENTE,
	P.Folio AS NSS,
	CONVERT(DATE, I_S_E_D.FechaInicio) AS FECHA_CITA,
	C_E_I.Estudio AS ESTUDIO_SOLICITADO,
	CASE
		WHEN C_E_I.Codigo LIKE 'DX%'
			THEN 'RAYOS X'
		/*WHEN C_E_I.Codigo LIKE 'US%'
			THEN 'ULTRASONIDO'*/
	END AS MODALIADAD,
	--I_S_E_D.IdUsuarioAgendo AS ID_AUO_AGENDO,	
	--I_S_E_D.IdCatalogoEstudio,
	I_S_E_D.FechaAgendo AS FECHA_CREACION_CITA,
	CONCAT(PER.ApellidoPaterno,' ',PER.ApellidoMaterno,' ',PER.PrimerNombre,' ',PER.SegundoNombre) AS USUARIO_AGENDO
FROM
	dbo.ImagenologiaSolicitudesEstudioDetalles AS I_S_E_D
INNER JOIN
	dbo.SolicitudesEstudios AS S_E ON I_S_E_D.IdSolicitud=S_E.IdSolicitud
INNER JOIN
	dbo.Pacientes AS P ON S_E.IdPaciente=P.IdPaciente
INNER JOIN
	dbo.CatalogoEstudiosImagenologia AS C_E_I ON I_S_E_D.IdCatalogoEstudio=C_E_I.IdEstudio
INNER JOIN
	dbo.Usuarios AS U ON I_S_E_D.IdUsuarioAgendo=U.IdUsuario
INNER JOIN
	dbo.Personal AS PER ON U.IdPersonal=PER.IdPersonal
WHERE
	I_S_E_D.FechaAgendo BETWEEN @FECHA_INICIO AND @FECHA_FINAL AND I_S_E_D.IdEstadoEstudio=2
	AND CONCAT(PER.ApellidoPaterno,' ',PER.ApellidoMaterno,' ',PER.PrimerNombre,' ',PER.SegundoNombre) = @USUARIO_AGENDO
GO
